# Inspo from https://gist.github.com/tdd/470582
[user]
    email = simon.wahlgren@gmail.com
    name = Simon Wahlgren

[core]
    editor = nvim
    pager = delta
    excludesfile = /home/simon/.gitignore_global

    # Don't consider trailing space change as a cause for merge conflicts
    whitespace = -trailing-space

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true
    ; diff-so-fancy = true
    syntax-theme = Nord
    ; syntax-theme = Visual Studio Dark+

[interactive]
    diffFilter = delta --color-only --features=interactive

# the following rewrites are required when using multiple ssh keys. see
# ~/.ssh/config for the matching config to load the correct key.
#
# debugging:
#   GIT_TRACE=1 GIT_SSH_COMMAND="ssh -v" pip install git+ssh://github.com/business-ventures/dev-secrets-manager.git
#
# replace git@github.com:business-ventures with git@github-business-ventures:business-ventures
# url is used when cloning a git repository
[url "git@github-business-ventures:business-ventures"]
    insteadOf = git@github.com:business-ventures

# replace ssh://github.com/business-ventures with ssh://git@github-business-ventures/business-ventures
# url is used when pip installing a package from github
[url "ssh://git@github-business-ventures/business-ventures"]
    insteadOf = ssh://github.com/business-ventures

[alias]
    fix-conflicts = git diff --name-only --diff-filter=U | uniq  | xargs nvim
    prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
    # git amend-to <REV> # e.g.
    # git amend-to HEAD~1
    # git amend-to aaaa1111
    amend-to = "!f() { SHA=`git rev-parse \"$1\"`; git commit --fixup \"$SHA\" && GIT_SEQUENCE_EDITOR=true git rebase --interactive --autosquash \"$SHA^\"; }; f"

[push]
    default = simple

[pull]
    rebase = false

[merge]
    tool = vimdiff
    keepBackup = false
    conflictstyle = diff3

[mergetool]
    prompt = true
    keepBackup = false

[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
    ; cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
    prompt = false
    trustExitCode = true

[mergetool "fugitive"]
    cmd = nvim -f -c "Gdiff" "$MERGED"
    prompt = false
    trustExitCode = true

[difftool]
    prompt = false
    # Be able to abort all diffs with `:cq` or `:cquit`
    trustExitCode = true

[diff]
    ; # Use better, descriptive initials (c, i, w) instead of a/b.
    mnemonicPrefix = true
    ; # Show renames/moves as such
    renames = true
    ; # Display submodule-related information (commit listings)
    submodule = log
    ; # delta
    colorMoved = default

[log]
    # Use abbrev SHAs whenever possible/relevant instead of full 40 chars
    abbrevCommit = true
    # Automatically --follow when given a single path
    follow = true

[init]
    templatedir = ~/.git_template

[status]
    showUntrackedFiles = normal

[rerere]
    enabled = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
