/*
/.*
!/.config

!/.pdbrc.py
!/.Xmodmap
!/.xsession
!/.isort.cfg
!/.gtkrc-2.0

!/.git_template
!/.gitconfig
!/.gitignore

!/.ctags.d/

.ipython/profile_default/ipython_config.py
!/.ipython/*

!/.local/bin/

.config/nvim/*/
.config/nvim/.*
!.config/nvim/init.vim
!.config/nvim/colors/
!.config/nvim/plugins.vim
!.config/nvim/plugin/
!.config/nvim/plugin.old/
!.config/nvim/after/

!.config/pulse/default.pa

.config/Insomnia/
.config/MellowPlayer
.config/Postman/
.config/QtProject.conf
.config/autostart/
.config/awsaml/
.config/Insync/
.config/MyMonero/
.config/Slack/
.config/chrome-remote-desktop/
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/gcloud/
.config/gcloud/
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks
.config/helm/
.config/hub
.config/hub
.config/inkscape/
.config/libfm/
.config/libreoffice/
.config/lutris/
.config/lxsession/i3/desktop.conf
.config/menus/
.config/mimeapps.list
.config/mopidy
.config/networkmanager-dmenu/config.ini
.config/pavucontrol.ini
.config/pcmanfm/default/pcmanfm.conf
.config/pulse/
.config/rclone
.config/spotify/
.config/sqlitebrowser/
.config/telepresence/
.config/transmission-remote-gtk/
.config/transmission/
.config/vivaldi/
.config/wireshark/
.config/xfce4
.config/zoomus.conf

!/.curlrc
!/.tmux.conf
!/.tmux
/.tmux/plugins/
/.tmux/resurrect/

!/.zshrc
!/.zshenv
!/.zsh

.zsh/secrets.zsh
.ssh
!/.ssh/id_rsa.pub
!/.ssh/known_hosts
